* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-style {
    background: rgb(179, 177, 177);
}

.logout-btn{
    text-decoration: none !important; 
    color: white !important; 
}

.nav-styling:hover{
    text-decoration: none !important;
    color: white !important;
    background-color: blue !important;
}