<!DOCTYPE html>
<html lang="eng">
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body class="body-style">
        <ul class="nav justify-content-around bg-light p-3 shadow-lg">
            <li class="nav-item">
                <a class="nav-link active border border-primary rounded nav-styling" href="{% url 'todoapp:logout' %}">Log Out</a>
            </li>
            <li class="nav-item">
                <h4 class="nav-link unselectable">{{ current_date }}</h4>
            </li>
            <li class="nav-item">
                <a class="nav-link  active border border-primary rounded nav-styling" href="{% url 'todoapp:passwdreset' %}">Reset Password</a>
            </li>
        </ul>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="container my-1">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% else %}
                    <div class="container my-1">
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="card my-4 shadow-lg rounded">
                    <div class="card-body">
                        <form action="{% url 'todoapp:task' %}" class="d-flex" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control mx-2" name="task" placeholder="what's on your mind?"/>
                            <button type="submit" class="btn btn-outline-secondary btn-sm rounded border-light" name="submit"><i class="bi bi-arrow-down"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block rew %}
            {% for task in task_list_load_on_home %}
                <div class="container">
                    <div class="row  justify-content-center mt-3 mb-3">
                        <div class="card col-sm-12 col-lg-6 d-flex shadow-lg text-align-center">
                            <div class="card-body d-flex">
                                <h5 class="">{{ task }}</h5>
                            </div>
                            <div class="card-footer">
                                <div class="row float-end g-5">
                                    <form action="{% url 'todoapp:rewrite' task.id %}" class="col-1" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-warning btn-sm float-end"><i class="bi bi-pen"></i></button>
                                    </form>
                                    <form action="{% url 'todoapp:delete' task.id %}" class="col-1" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger btn-sm float-end"><i class="bi bi-calendar-x"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endblock rew %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>